<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>

<h:body>
	<h1>JSF 2 Convert Validation</h1>
	<h:form>
		<h:panelGrid columns="3">
			  Escribir FECHA dd/MM/yyyy :
			 <h:inputText id="date" value="#{conVal.date}" size="20"
				required="true" label="Receipt Date">
				<f:convertDateTime pattern="dd/MM/yyyy" />
			</h:inputText>

			<h:message for="date" style="color:red" />
		</h:panelGrid>

		<h:panelGrid columns="3">
			Amount :
			<h:inputText id="amount" value="#{conVal.amount}" size="20"
				required="true" label="Amount">
				<f:convertNumber minFractionDigits="2" />
			</h:inputText>
			<h:message for="amount" style="color:red" />
		</h:panelGrid>

		<h:panelGrid columns="3">
			Enter UserName :
			<h:inputText id="username" value="#{conVal.username}" size="20"
				required="true" label="UserName">
				<f:validateLength minimum="5" maximum="10" />
			</h:inputText>
			<h:message for="username" style="color:red" />
		</h:panelGrid>

		<h:panelGrid columns="3">
			Enter your age :

			<h:inputText id="age" value="#{conVal.age}" size="10" required="true"
				label="Age">
				<f:validateLongRange maximum="150" minimum="1" />
			</h:inputText>
			<h:message for="age" style="color:red" />
		</h:panelGrid>

		<h:panelGrid columns="3">
			Enter your salary :

			<h:inputText id="salary" value="#{conVal.salary}" size="10"
				required="true" label="Salary">
				<f:validateDoubleRange minimum="10.11" maximum="10000.11" />
			</h:inputText>

			<h:message for="salary" style="color:red" />
		</h:panelGrid>

		<h:panelGrid columns="3">
	  		Enter your password(es necesario 6 a 20 caracteres de cadena con al menos un dígito, una letra mayúscula, una letra minúscula y un símbolo especial ("@ # $%").)
	  		<h:inputSecret id="password" value="#{conVal.password}" size="20"
				required="true" label="Password">
				<f:validateRegex
					pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{6,20})" />
			</h:inputSecret>
			<h:message for="password" style="color:red" />
		</h:panelGrid>

		<h:commandButton value="Submit" action="receipt" />

	</h:form>
</h:body>
</html>
