<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<link href="../css/style.css" type="text/css" rel="stylesheet" />
	<f:loadBundle basename="com.example.jsf.properties.messages" var="msg" />
	<title><h:outputText value="#{msg['app.title']}" /></title>
</h:head>

<body>
	<h1>
		<h:outputText value="#{msg['app.formulario']}" />
	</h1>
	<h:form id="frmEmployee">
		Last Name: <h:inputText value="#{empleadoController.empl.lastName}" />
		Email: <h:inputText value="#{empleadoController.empl.email}" />
		Hire Date: <h:inputText value="#{empleadoController.empl.hireDate}">
			<f:convertDateTime pattern="dd/MM/yyyy" type="date" />
		</h:inputText>
		Job <h:inputText value="#{empleadoController.job.jobId}" />

		<h:commandButton action="#{empleadoController.salvar()}"
			value="Salvar">
			<f:ajax execute="frmEmployee" render="dtEmployee" />
		</h:commandButton>

		<h:commandButton action="#{empleadoController.cancelar}"
			value="Cancelar">
			<f:ajax render="frmEmployee" />
		</h:commandButton>

		<h:dataTable id="dtEmployee" value="#{empleadoController.list}"
			var="e" headerClass="cabeceraTabla" rowClasses="fila1,fila2"
			styleClass="tabla" rendered="#{empleadoController.list.size() > 0 eq true}">
			<h:column>
				<f:facet name="header">ID</f:facet>
			#{e.employeeId}
			</h:column>
			<h:column>
				<f:facet name="header">LASTNAME</f:facet>
			#{e.firstName} #{e.lastName}</h:column>

			<h:column>
				<f:facet name="header">EMAIL</f:facet>
			#{e.email}</h:column>

			<h:column>
				<f:facet name="header">HIRE DATE</f:facet>
			#{e.hireDate}</h:column>

			<h:column>
				<f:facet name="header">JOB</f:facet>
			#{e.jobId.jobId}</h:column>

			<h:column>
				<f:facet name="header">Accion</f:facet>
				<h:commandButton
					action="#{empleadoController.eliminar(e.employeeId)}"
					value="Eliminar"
					onclick="return window.confirm('Desea eliminar el registro ?')">
					<f:ajax render="frmEmployee:dtEmployee" />
				</h:commandButton>

				<h:commandButton action="#{empleadoController.editar(e.employeeId)}"
					value="Editar">
					<f:ajax render="frmEmployee" />
				</h:commandButton>
			</h:column>

		</h:dataTable>
	</h:form>

	<div>
		<h:outputLink value="saludo.xhtml">
			<h:outputText value="Pinche aqui" />
			<f:param name="data" value="1" />
		</h:outputLink>

		<h:form>
			<h:commandButton action="#{empleadoController.moveToSaludo()}"
				value="Saludo" />
		</h:form>

	</div>

</body>

</html>
