<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>
<h:body>
	<ui:composition template="/templates/common.xhtml">
		<ui:param name="title" value="Home" />
	
		<ui:define name="content">
			<h:link value="Page 1" outcome="/page/page1" />
			<h:link value="Page 2" outcome="/page/page2" />
		</ui:define>
	</ui:composition>
</h:body>
</html>
