<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>
<h:body>
	<ui:composition template="/templates/common.xhtml">
<!-- 		<ui:define name="header"> -->
<!-- 			<h2>Page1 header</h2> -->
<!-- 		</ui:define> -->
		<ui:define name="content">
			<h2>Page1 content</h2>
			<h:link value="Back To Home" outcome="/page/home" />
		</ui:define>
		<ui:define name="footer">
			<h2>Page1 Footer</h2>
		</ui:define>
	</ui:composition>
</h:body>
</html>
