<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>
<h:body>
	<h1>JSF 2 convert Validate</h1>

		Recibiendo Dato Fecha :
		<h:outputText value="#{conVal.date}">
			<f:convertDateTime pattern="dd/MM/yyyy" />
		</h:outputText>

	<h1>JSF 2 convertNumber example</h1>
	<ol>
		<li>Amount [minFractionDigits="2"] : <h:outputText
				value="#{conVal.amount}">
				<f:convertNumber minFractionDigits="2" />
			</h:outputText>
		</li>
		<li>Amount [pattern="#0.000"] : <h:outputText
				value="#{conVal.amount}">
				<f:convertNumber pattern="#0.000" />
			</h:outputText>
		</li>
		<li>Amount [currencySymbol="$"] : <h:outputText
				value="#{conVal.amount}">
				<f:convertNumber currencySymbol="$" type="currency" />
			</h:outputText>
		</li>
		<li>Amount [currencyCode="GBP"] : <h:outputText
				value="#{conVal.amount}">
				<f:convertNumber currencyCode="GBP" type="currency" />
			</h:outputText>
		</li>
		<li>Amount [type="percent"] : <h:outputText
				value="#{conVal.amount}">
				<f:convertNumber type="percent" />
			</h:outputText>
		</li>
	</ol>
	
		Recibiendo Dato Data :
		<h:outputText value="#{conVal.username}" /><br/>
		<h:outputText value="#{conVal.age}" /><br/>
		<h:outputText value="#{conVal.salary}" /><br/>

</h:body>
</html>
