<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<link href="../css/style.css" type="text/css" rel="stylesheet" />
	<f:loadBundle basename="com.example.jsf.properties.messages" var="msg" />
	<title><h:outputText value="#{msg['app.title']}" /></title>
</h:head>
<body>

	<h:panelGrid columns="2">
		<h:form id="frmSaludo">
			<h:outputLabel value="#{msg['app.saludo.label.nombre']}" for="name" />
			<h:inputText value="#{nameController.name}" id="name">
				<f:ajax event="keyup" execute="frmSaludo" render="outSaludo" />
			</h:inputText>

			<h:outputText id="outSaludo" value="#{nameController.name}" />
		</h:form>

	</h:panelGrid>

	<h:panelGrid columns="2">
		<h:form id="frmSaludoEnvio">
			<h:outputLabel value="#{msg['app.saludo.label.nombre']}" for="name" />
			<h:inputText id="nameImput" value="#{nameController.name2}"
				label="name2">
				<f:validateLength minimum="5" maximum="20" />
			</h:inputText>

			<h:commandButton action="#{nameController.saludar()}"
				value="#{msg['app.saludo.button.saludar']}">
				<f:ajax execute="frmSaludoEnvio" render="outSaludoEnvio" />
			</h:commandButton>

			<h:message for="nameImput" class="msgError" />
			<h:outputText id="outSaludoEnvio" value="#{nameController.saludar()} " />
		</h:form>
	</h:panelGrid>

	<h2>h:validateLength Example</h2>
	<h:form>
		<h:inputText id="nameInput2" value="#{nameController.name}"
			label="name">
			<f:validateLength minimum="5" maximum="8" />
		</h:inputText>
		<h:commandButton value="submit" action="result" />
		<h:message for="nameInput2" style="color:red" />
	</h:form>

	<h2>Select</h2>
	<h:form>
		<h:selectOneMenu value="#{nameController.job}">
		     <f:selectItem itemValue="#{null}" itemLabel="-- select one --" />		
			<f:selectItems value="#{nameController.jobs}" var="j"
				itemValue="#{j.jobId}" itemLabel="#{j.jobTitle}" />
		</h:selectOneMenu>

		<h:commandButton value="Submit" action="result" />
		<h:commandButton value="Reset" type="reset" />
	</h:form>

</body>
</html>
