<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>
<h:body>

	<h1>JSF 2 message + messages example</h1>
	<h:form>
		<br />
		<h:panelGrid columns="3">
			<h:outputText value="Enter your username :" />
			<h:inputText id="username" value="#{login.persona.nombre}" size="20"
				required="true" label="Nombre Requerido">
				<f:validateLength minimum="5" maximum="10" />
			</h:inputText>
			<h:message for="username" style="color:red" />

			<h:outputText value="Enter your age :" />
			<h:inputText id="age" value="#{login.persona.age}" size="20" required="true"
				label="Age no Valido">
				<f:validator validatorId="MayorEdadValidator"/>
			</h:inputText>
			<h:message for="age" style="color:red" />

			<h:outputText value="Sexo" />
			<h:inputText id="sexo" value="#{login.persona.sexo}" size="20"
				label="Sexo no valido (M-F)" validator="#{login.validarSexo}">
			</h:inputText>
			<h:message for="sexo" style="color:red" />
		</h:panelGrid>

		<h:commandButton value="Submit" action="result" />

	</h:form>

</h:body>
</html>
