<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>
<h:body>
	<h2>#{title}</h2>
	<div
		style="border-width: 2px; border-color: green; border-style: solid;">
		<ui:insert name="header">
			<ui:include src="/templates/header.xhtml">
				<ui:param name="defaultHeader" value="Default Header Parameter" />
			</ui:include>
		</ui:insert>
	</div>
	<br />
	<div
		style="border-width: 2px; border-color: black; border-style: solid;">
		<ui:insert name="content">
			<ui:include src="/templates/contents.xhtml" />
		</ui:insert>
	</div>
	<br />
	<div style="border-width: 2px; border-color: red; border-style: solid;">
		<ui:insert name="footer">
			<ui:include src="/templates/footer.xhtml" />
		</ui:insert>
	</div>
</h:body>
</html>
