<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>
<body>
	<ui:composition>
		<h:panelGrid columns="2">
			<h:form rendered="#{userBean.verificarSession()}">
				<h:commandButton value="Cerrar Seesion"
					action="#{userBean.cerrarSession()}">
				</h:commandButton>
			</h:form>
		</h:panelGrid>
	</ui:composition>
</body>
</html>
