<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<link href="../css/style.css" type="text/css" rel="stylesheet" />

	<f:metadata>
		<f:event type="preRenderView"
			listener="#{userBean.verificarSessionLoad}" />
	</f:metadata>
</h:head>

<h:body>
	<ui:composition template="/templates/common.xhtml">

		<ui:define name="content">
			<h:outputText value="#{msg['app.admin.empleado.label.nombre']}"></h:outputText>


			<h:form id="frmEmployee">

				<h:panelGrid columns="3" border="1" cellpadding="10" cellspacing="1">

					<h:outputLabel value="Nombre" />
					<h:inputText id="firstName"
						value="#{empleadoBean.empleado.firstName}">
						<f:validateBean for="firstName" />
					</h:inputText>
					<h:message for="firstName" class="msgError" />

					<h:outputLabel value="Apellidos" />
					<h:inputText id="lastName"
						value="#{empleadoBean.empleado.lastName}">
						<f:validateBean for="lastName" />
					</h:inputText>
					<h:message for="lastName" class="msgError" />

					<h:outputLabel value="Email" />
					<h:inputText id="email" value="#{empleadoBean.empleado.email}">
						<f:validator validatorId="email" />
					</h:inputText>
					<h:message for="email" class="msgError" />

					<h:outputLabel value="hireDate" />
					<h:inputText id="hireDate"
						value="#{empleadoBean.empleado.hireDate}">
						<!-- 						<f:validator validatorId="fechaddMMYYYY" /> -->
						<f:converter
							converterId="com.example.jsf.convert.DateDdMmYyyyConvert" />
					</h:inputText>
					<h:message for="hireDate" class="msgError" />

					<h:outputLabel value="JobId" />
					<h:selectOneMenu value="#{empleadoBean.job.jobId}">
						<f:selectItem itemValue="#{null}" itemLabel="-- select one --" />
						<f:selectItems value="#{empleadoBean.jobs}" var="j"
							itemValue="#{j.jobId}" itemLabel="#{j.jobTitle}" />
					</h:selectOneMenu>

					<h:commandButton value="Save"
						actionListener="#{empleadoBean.save()}">
					</h:commandButton>

				</h:panelGrid>

				<h:dataTable id="dtEmployee" value="#{empleadoBean.employees}"
					var="e" rendered="#{empleadoBean.employees.size() > 0 eq true}">
					<h:column>
						<f:facet name="header">
							<h:outputLabel value="FIRSTNAME" />
						</f:facet>
						<h:outputLabel value="#{e.firstName}" />
					</h:column>

					<h:column>
						<f:facet name="header">
							<h:outputLabel value="LASTNAME" />
						</f:facet>
						<h:outputLabel value="#{e.lastName}" />
					</h:column>

					<h:column>
						<f:facet name="header">
							<h:outputLabel value="EMAIL" />
						</f:facet>
						<h:outputLabel value="#{e.email}" />
					</h:column>

					<h:column>
						<f:facet name="header">
							<h:outputLabel value="HIRE DATE" />
						</f:facet>
						<h:outputLabel value="#{e.hireDate}">
							<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
						</h:outputLabel>
					</h:column>

					<h:column>
						<f:facet name="header">
							<h:outputLabel value="JOB" />
						</f:facet>
						<h:outputLabel value="#{e.jobId.jobId}" />
					</h:column>

					<!-- 				<h:column> -->
					<!-- 					<f:facet name="header">Accion</f:facet> -->
					<!-- 					<h:commandButton -->
					<!-- 						action="#{empleadoController.eliminar(e.employeeId)}" -->
					<!-- 						value="Eliminar" -->
					<!-- 						onclick="return window.confirm('Desea eliminar el registro ?')"> -->
					<!-- 						<f:ajax render="frmEmployee:dtEmployee" /> -->
					<!-- 					</h:commandButton> -->

					<!-- 					<h:commandButton -->
					<!-- 						action="#{empleadoController.editar(e.employeeId)}" value="Editar"> -->
					<!-- 						<f:ajax render="frmEmployee" /> -->
					<!-- 					</h:commandButton> -->
					<!-- 				</h:column> -->

				</h:dataTable>
			</h:form>

		</ui:define>

	</ui:composition>
</h:body>
</html>
